*{
    margin: 0%;
    padding: 0%;
}

body{
    background: url(images/Wood\ BG.png);
}

#header .container {
    background-color: white;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.pictures {
    width: 98%;
    margin: 0 auto;
}

#header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#third-heading {
    display: block;
}

#third-heading img {
    height: 100%;
    width: 75%;
}

#third-heading img {
    height: 100%;
    width: 75%;
}

#fourth-heading {
    margin-right: 3%;
}

#fourth-heading >div:nth-child(1){
    color: #7a837b;
    font-weight: 600;
    text-align: center;
}

#fourth-heading >div {
    margin-top: 3%;
}

#fourth-heading >div:nth-child(2) .row >div:nth-child(1), #fourth-heading >div:nth-child(2) .row >div:nth-child(2) {
    border-right: 2px solid #6c5755;
    padding-right: 3%;
    padding-left: 3%;
}

#fourth-heading .row div {
    margin-bottom: 1%;
    color: #ac8c8b;
    text-decoration: underline;
    margin-left: 3%;
}

#fourth-heading >div:nth-child(3) .row {
    margin-left: 7%;
}

#fourth-heading button {
    font-weight: 400;
    color: white;
    background-color: #886262;
    margin-left: -30%;
}


#navbar {
    background-color: #a87d7b;
    background-image: linear-gradient(#b68e8c, #6c403f);
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
}

#navbar {
    display: block;
}

#navbar-section-one{
    width: 40%;
}

#navbar-section-one .row > div {
    border-right: 1px solid white;
    padding-right: 3%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#navbar-section-two {
    font-size: 1.3rem;
}

#navbar-menu {
    display: none;
}

#footer .row >div:nth-child(1) img{
    margin-top: 11%;
}

#footer .row >div:nth-child(6) >div:nth-child(1){
    margin-top: 15%;
}


/*#navbar-menu >.pictures > .row {
    display: flex;
    justify-content: flex-start;
}

#navbar-menu .row >div:nth-child(2) {
    margin-left: 2%;
}*/

#nav {
    margin-top: 2%;
    margin-bottom: 2%;
}

#nav .container {
    width: 90%;
    margin: 0 auto;
}

#nav .container {
    background-color: white;
    border-radius: 5px;
}

#main>.pictures> .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sidebar {
    width: 20%;
    margin-top: 0.5%;
}

#sidebar-section-one {
    border: 2px solid #95605e;
    background-color: #f2f2f2;
}

#sidebar-section-one > div:nth-child(1) {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #95605e;
    padding-left: 5%;
}

#sidebar-section-one>div:nth-child(2){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(3){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(4){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(5){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(6){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(7){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one>div:nth-child(8){
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#sidebar-section-one .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sidebar-section-one >.row>div:nth-child(1) {
    width: 19%;
}





#sidebar-section-one .row > div:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 65%;
    background-color: #c9585d;
    color: white;
    height: 10%;
}

#sidebar-section-one .row > div:nth-child(2) > div:nth-child(2) {
    font-size: 0.7rem;
}

#sidebar-section-two {
    border: 2px solid #95605e;
    position: relative;
    margin-top: 3%;
}

#sidebar-section-two div:nth-child(1) {
    top: 0%;
}

#sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3) {
    font-size: 1.5rem;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

#sidebar-section-two img {
    width: 100%;
    height: 70%;
}

#sidebar-section-two div:nth-child(3) {
    bottom: 0%;
}

#sidebar-section-three {
    border: 2px solid #95605e;
    margin-top: 3%;
    background-color: #f2f2f2;
}

#sidebar-section-three .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-section-three > div:nth-child(1) {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #95605e;
    padding-left: 5%;
}

#sidebar-section-three div:nth-child(2) {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

#sidebar-section-three>div:nth-child(3){
    margin-left: 12%;
}

#sidebar-section-three>div:nth-child(4){
    margin-left: 12%;
}

.checking{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.checking input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 14%;
    left: 7%;
    height: 72%;
    width: 6%;
    background-color: #eee;
  }

#sidebar-section-three>div:nth-child(5){
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;

}

#sidebar-section-three>div:nth-child(6){
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

#sidebar-section-three>div:nth-child(7){
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: white;
}

#sidebar-section-three>div:nth-child(7) input{
    background-color: brown;
    color:white;
    height: 26px;
    width: 34%;
    font-weight: 600;
}

#sidebar-section-three .row{
    justify-content: center;
    align-items: center;
}

#sidebar-section-three .row>div:nth-child(2){
    margin-left: 5%;
}

#main-sidebar{
    width: 79%;
}

#main-sidebar-one{
    position: relative;
}

#big-image img {
    width: 100%;
    height: 100%;
}
#small-image {
    position: absolute;
    bottom: 6%;
    right: 1%;
    background-color: white;
    opacity: 0.5;
    font-size: 2.5rem;
    height: 30%;
    width: 40%;
    text-align: center;
    padding-top: 1%;
}

#small-image span{
    font-weight: 600;
}

#image-three {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 10%;
    color: #a39f96;
    text-align: center;
    background-color: white;
    height: 5%;
    opacity: 0.5;
    font-weight: 600;
}

#image-three .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#image-three .row >div:nth-child(1) img{
    margin-left: 37%;
}

#image-three .row >div:nth-child(3) span{
    font-weight: 600;
}

#image-three .row >div:nth-child(5) img{
    margin-left: -37% ;
}

#main-sidebar-two .row {
    display: flex;
    justify-content: space-around;
}

#main-sidebar-two-content{
    width: 75%;
}

#main-sidebar-two-content div{
    margin-bottom: 1%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
}

#main-sidebar-two-content div:nth-child(1){
        font-size: 1.5rem;
        font-weight: 700;
        color: #4c5b53;
        margin-left: 6%;
        margin-top: 2%;
}


#main-sidebar-two-content img{
    width: 3%;
    height: 3%;
}

#main-sidebar-two-content div div{
    margin-left: 3%;
}

#sidebar-box{
    width: 25%;
}

#sidebar-box-one, #sidebar-box-two {
    border: 2px solid #95605e;
    background-color: #f2f2f2;
    margin-bottom: 3%;
}

#sidebar-box-one div:nth-child(1), #sidebar-box-two div:nth-child(1) {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #95605e;
    padding-left: 5%;
}

#sidebar-box-one >div:nth-child(2){
    text-align: center;
    margin-bottom: 3%;
}

#sidebar-box-one >div:nth-child(3){
    text-align: center;
    margin-bottom: 3%;
}

#sidebar-box-one >div:nth-child(3) a{
    text-decoration: none;
    color: green;
}

#sidebar-box-two >div:nth-child(2){
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 0.8rem;
}

#sidebar-box-one >div:nth-child(2) a{
    text-decoration: none;
    color: green;
}

#sidebar-box-two >div:nth-child(3){
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 0.8rem;
}

#sidebar-box-two >div:nth-child(4){
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 0.8rem;
    width: 98%;
}

#sidebar-box-two >div:nth-child(5){
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 0.8rem;

}

#footer{
    padding-bottom: 3%;
    padding-top: 5%;
    
}

#footer .row{
    display: flex;
    justify-content: space-around;
}

#footer .row .headings{
    border-left: 2px solid grey;
}

#footer .row > div div {
    margin-left: 24%;
    width: 100%;
    margin-top: 5%;
}
.headings >div:nth-child(1) {
    color: #aa9795;
    font-size: 1.1rem;
    margin-bottom: 2%;
}

#footer .row >div:nth-child(6){
    border-left: 2px solid grey;
    text-align: center;
    margin-right: 3%;
}

@media (max-width:1024px){
    .pictures{
        font-size: 0.7rem 
    }

    #fourth-heading >div:nth-child(1){
        margin-left: 20%;
    }

    #small-image{
        width: 33%;
        height: 26%;
        font-size: 1.5rem;
    }

    #image-three{
        bottom: 1%;
    }

    #sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3){
        font-size: 1rem;
    }

    #navbar-section-two{
        font-size: 1rem;
    }

    #footer{
        font-size: 0.7rem;
    }
    #footer .row >div:nth-child(3){
        margin-left: 3%;
    }

    #footer .row >div:nth-child(5){
        margin-left: 5%;

    }
    #sidebar-box-two >div:nth-child(1){
        font-size: 1rem;

    }
}

@media (max-width:768px){

    #navbar-section-one .row>div{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #navbar-section-two{
        display: none;
    }

    #fourth-heading .row{
        font-size: 0.9rem;
    }

    .pictures{
        font-size:0.5rem
    }

    #small-image{
        height: 26%;
        font-size: 1rem;
        width: 28%;
    }

    #image-three{
        margin-bottom: 0%;
    }

    #sidebar-section-one{
        font-size: 0.5rem;
    }

    #sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3){
        font-size: 0.8rem;
    }

    #sidebar-section-three >div:nth-child(1){
        font-size: 1.1rem;
    }

    .checkmark{
        border: 2px solid black;
        height: 1vh;
        width: 4%;
    }

    #sidebar-section-three >div:nth-child(5) input{
        width: 70%;
    }

    #sidebar-section-three >div:nth-child(6) input{
        width: 70%;
    }

    #sidebar-section-three>div:nth-child(7) input {
        width: 50%;
    }

    #sidebar-box-one, #sidebar-box-two{
        font-size: 0.6rem;
    }

    #sidebar-box-two >div:nth-child(1){
        font-size: 0.9rem;
    }

    #sidebar-box-two >div:nth-child(2){
        font-size: 0.8rem;
    }

    #sidebar-box-two >div:nth-child(3){
        font-size: 0.7rem;
    }

    #footer .row .headings{
        border: none;
        font-size: 0.7rem;
        margin-left: 1%;
    }
    #footer .row >div:nth-child(6) {
        border: none;
        font-size: 0.7rem;
        margin-left: -7%;
        /*display: none;*/
    }

    #footer .row >div{
        width: 30%;
    }

    #footer .headings >div:nth-child(1){
        font-size: 0.7rem;
       
    }


}
    




@media (min-width:2560px) {
    #navbar{
        font-size: 1.6rem;
    }
    #navbar-section-two{
        font-size: 1.8rem;
    }
    #fourth-heading .row{
        margin-left: -3%;
    }
   #navbar-menu .pictures{
        display: none;
    }
    #fourth-heading{
        font-size: 1.6rem;
    }
    #fourth-heading >div:nth-child(1){
        margin-left: 26%;
    }
    #fourth-heading >div:nth-child(3) .row >div:nth-child(1) input{
        width: 196%;
        margin-left: -20%;
        padding: 4%;
    }
    #fourth-heading button{
        margin-left: 256%;
        padding: 27%;
    }
    #sidebar-section-one{
        font-size: 1.5rem;
        height: 26%;
    }
    #sidebar-section-one >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3){
        font-size: 2.5rem;
    }
    #sidebar-section-three{
        font-size: 1.5rem;
    }
    #sidebar-section-three >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-section-three>div:nth-child(5) input{
        padding: 2%;
        width: 60%;
    }
    #sidebar-section-three>div:nth-child(6) input{
        padding: 2%;
        width: 60%;
    }
    #main-sidebar-two-content div{
        font-size: 1.8rem;
    }
    #main-sidebar-two-content >div:nth-child(1){
        font-size: 2rem;
        margin-left: 5%;
    }
    #sidebar-section-three>div:nth-child(7) input{
        padding-top: 2%;
        padding-bottom: 8%;
        font-size: 1.5rem;
    }
    #sidebar-box{
        width: 26%;
    }
    #sidebar-box-one >div:nth-child(2) {
        margin-left: 5%;
    }
    #sidebar-box-one >div:nth-child(3){
        margin-left: 5%;
    } 
    #sidebar-box-two >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-box-two >div:nth-child(2){
        font-size: 1.5rem;
    }
    #sidebar-box-two >div:nth-child(3){
        font-size: 1.5rem;
    }
    #sidebar-box-two >div:nth-child(4){
        font-size: 1.5rem;
    }
    #sidebar-box-two >div:nth-child(5){
        font-size: 1.5rem;
    }
    #footer{
        font-size: 1.5rem;
    }
    #footer .row >div:nth-child(1) img{
        width: 166%;
        margin-left: -16%;
        margin-top: 20%;
    }
    #footer .row >div:nth-child(3){
        margin-top: 0.2%;
    }
    #footer .row >div:nth-child(4){
        margin-top: -0.2%;
    }
    #footer .row >div:nth-child(4) >div:nth-child(2){
        margin-top: 1%;
    }
    #footer .row >div:nth-child(6) >div:nth-child(1){
        margin-top: 20%;
    }
    #footer .row .headings >div:nth-child(1){
        font-size: 2rem;
    }
    #footer .row >div:nth-child(2) >div:nth-child(2){
        margin-top: 10%;
    }
    #footer .row >div:nth-child(3) >div:nth-child(2){
        margin-top: 15%;
    }
    #footer .row >div:nth-child(4) >div:nth-child(2){
        margin-top: 7%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(2){
        margin-top: 22%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(1){
        margin-top: 9%;
    }
    #sidebar-section-one .row > div:nth-child(2){
        margin-left: -4%;
        width: 77%;
        margin-top: 4%;
    }
    #sidebar-section-one .row >div:nth-child(1) img{
        width: 3.5%;
        position: absolute;
        top: 60%;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(1){
        margin-left: 5%;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(2){
        margin-left: 5%;
        font-size: 1.5rem;
    }
    

    #small-image{
        width: 21%;
        height: 18%;
    }

    #image-three{
        height: 3%;
    }

    #main-sidebar-two-content img {
        width: 2%;
        height: 3%;
    }

    .checkmark {
        margin-left: -7%;
        border: 2px solid black;
        width: 5%;
    }

    #sidebar-section-three>div:nth-child(3){
        margin-left: 30%;
    }

    #sidebar-section-three>div:nth-child(4){
        margin-left: 30%;
    }
    #sidebar-box-one {
        font-size: 1.7rem;
    }
    #sidebar-box-one >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-box-one >div:nth-child(2){
        margin-top: 2%;
    }
    #sidebar-box-one >div:nth-child(3){
        margin-bottom: 14%;
    }

}

@media (max-width:1024px) {
    /*#navbar-menu .pictures{
        display: none;
    }*/
    #fourth-heading .row{
        margin-left: 20%;
    }
    #sidebar-section-one >div:nth-child(2){
        margin-top: 7%;
    }
    #sidebar-section-one{
        font-size: 1rem;
        height: 37%;
    }
    #sidebar-section-one .row >div:nth-child(1) img{
        position: absolute;
        top: 72%;
        width: 4%;
    }
    #sidebar-section-one .row >div:nth-child(2){
        width: 77%;
        margin-top: 8%;
        margin-left: -1%;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(1){
        margin-left: 5%;
        font-size: 0.8rem;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(2){
        margin-left: 4%;
        font-size: 0.6rem;
    }
    #sidebar-box-one >div:nth-child(2){
        margin-top: 6%;
    }
    #sidebar-box-one >div:nth-child(3){
        margin-bottom: 16%;
    }
    #main-sidebar-two-content{
        margin-right: 1.5%;
    }
    #sidebar-box-two >div:nth-child(4){
        font-size: 0.7rem;
    }
    .checkmark{
        border: 2px solid black;
        margin-top: -1%;
    }
    #sidebar-section-three >div:nth-child(5) input{
        width: 70%;
    }
    #sidebar-section-three>div:nth-child(7) input{
        width: 45%;
    }
    #sidebar-section-three >div:nth-child(6) input{
        width: 70%;
    }
    #footer .row >div:nth-child(1) img{
        width: 83%;
        margin-top: 10%;
    }
    #footer .row >div:nth-child(2) >div:nth-child(1){
        margin-top: 1%;
    }
    #footer .row >div:nth-child(2) >div:nth-child(2){
        margin-top: 10%;
    }
    #footer .row >div:nth-child(3) >div:nth-child(2){
        margin-top: 17%;
    }
    #footer .row >div:nth-child(4) >div:nth-child(1){
        margin-top: 1%;
    }
    #footer .row >div:nth-child(4) >div:nth-child(2){
        margin-top: 7%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(2){
        margin-top: 17%;
    }
    #footer .row >div:nth-child(6) >div:nth-child(1){
        margin-top: 20%;
        margin-left: 18%;
    }
    #footer .row >div:nth-child(6) >div:nth-child(2){
        margin-left: 17%;
    }
}

@media (max-width:768px){
    #fourth-heading .row{
        margin-left: 4%;
    }
    #footer .row >div:nth-child(3){
        margin-top: -1%
    }
    #footer .row >div:nth-child(3) >div:nth-child(2){
        margin-top: 13%;
    }
    #footer .row >div:nth-child(4) >div:nth-child(2){
        margin-top: 10%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(2){
        margin-top:11% ;
    }
    #footer .headings >div:nth-child(1){
        margin-top: 6%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(1){
        margin-top: 1%;
    }
    /*#navbar-menu .pictures{
        display: none;
    }*/
    #first-heading img{
        width: 90%;
    }
    #second-heading img{
        width: 90%;
    }
    #fourth-heading >div:nth-child(1){
        font-size: 1rem;
    }
    #sidebar-section-one{
        font-size: 0.7rem;
        height: 34%;
    }
    #sidebar-section-one > div:nth-child(1){
        font-size: 1rem;
    }
    #sidebar-section-one >div:nth-child(2){
        margin-top: 4%;
    }
    #sidebar-section-one .row >div:nth-child(1) img{
        position: absolute;
        top: 60%;
        width: 6.4%;
    }
    #sidebar-section-three{
        font-size: 0.6rem;
    }
    #sidebar-section-one .row >div:nth-child(2){
        margin-top: 10%;
        width: 79%;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(1){
        margin-left: 20%;
    }
    #sidebar-section-one .row >div:nth-child(2) >div:nth-child(2){
        margin-left: 21%;
        font-size: 0.6rem;
    }
    #sidebar-box-one >div:nth-child(2){
        margin-top: 4%;
    }
    #sidebar-box-one >div:nth-child(3){
        margin-bottom: 14%;
    }
    #sidebar-box-two >div:nth-child(1){
        font-size: 0.8rem;
    }
    #sidebar-box-two >div:nth-child(2) {
        font-size: 0.6rem;
    }
    #sidebar-box-two >div:nth-child(3) {
        font-size: 0.6rem;
    }
    #sidebar-box-two >div:nth-child(4) {
        font-size: 0.6rem;
    }
    #sidebar-box-two >div:nth-child(5) {
        font-size: 0.6rem;
    }
    #footer .row >div:nth-child(1) img{
        width: 109%;
        margin-left: 7%;
        margin-top: 27%;
    }
    #main-sidebar-two-content div:nth-child(1){
        font-size: 1.3rem;
    }
    #main-sidebar-two-content div:nth-child(2){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(3){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(4){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(5){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(6){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(7){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content div:nth-child(8){
        font-size: 0.9rem;
    }
    #main-sidebar-two-content{
        margin-right: 2%;
    }
    #navbar-section-one{
        width: 47%;
        font-size: 0.6rem;
    }
    #sidebar-section-three .row >div:nth-child(1) img{
        width: 60%;
        margin-left: 30%;
    }
    #sidebar-section-three .row >div:nth-child(2) img{
        width: 60%;
        margin-left: -53%;
    }
    

}
/*@media (max-width:427px){
    #navbar-menu{
        background-color: #95605e;
    }
    #navbar-menu .row{
        margin-right: -78%;
    }
    #navbar-menu .row >div:nth-child(1){
        margin-left: -11%;
    }
    #navbar-menu .row >div:nth-child(2){
        margin-top: -3.7%;
    }
    #nav .container{
        height: 575vh;
    }
    #container{
        margin-left: 4%;
        margin-right: -14%;
    }
    
    #fourth-heading >div:nth-child(1) {
        margin-left: 1%;
    }
    #fourth-heading >div:nth-child(2){
        margin-left: -18%;
    }
    #navbar-section-one {
        display: none;
    }
    #navbar-section-two{
        display: none;
    }
    #header .row{
        flex-direction: column;
    }
    #third-heading{
        display: none;
    }
    #fourth-heading .row{
        flex-direction: row;
        margin-left: 5%;
        font-size: 1rem;
    }
    #fourth-heading .row >div:nth-child(1) input{
        width: 110%;
        margin-left: -11%;
    }
    .pictures{
        width: 100%;
        font-size: 1.5rem;
    }
    #footer .row >div:nth-child(4) >div:nth-child(1){
        margin-top: -12%;
        width: 153%;
    }
    #footer .row >div:nth-child(5) >div:nth-child(1){
        margin-top: 21%;
    }

    #sidebar{
        width: 100%;
        text-align: center;
    }
    #sidebar-section-one{
        font-size: 1.5rem;
        height: 80vh
    }
    #sidebar-section-one >div:nth-child(1){
        font-size: 1.7rem;
    }
    #sidebar-section-one .row >div:nth-child(1) img {
        position: absolute;
        margin-left: -27%;
        margin-top: 119%;
        width: 60%;
    }
    #sidebar-section-one .row >div:nth-child(2){
        margin-top: 3%;
        width: 44%;
        margin-left: 8%;
    }
    #main-sidebar .row{
        flex-direction: column;
    }
    #sidebar-section-two >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-section-two >div:nth-child(3){
        font-size: 2rem;
    }
    #sidebar-section-three .row{
        flex-direction: row;
    }
    #sidebar-section-three{
        font-size: 1.2rem;
    }
    #sidebar-section-three >div:nth-child(1){
        font-size: 1.5rem;
    }
    .checkmark{
        margin-top: 0%;
        width: 3%;
        height: 46%;
        margin-left: 13%;
    }
    #big-image img{
        width: 126%;
        margin-top: 4%;
    }
    #small-image{
        height: 47%;
        width: 70%;
        left: 54%;
        font-size: 1.5rem;
    }
    #image-three .row{
        flex-direction: row;
        margin-top: -70%;
        margin-left: 37%;
    }
    #image-three{
        margin-left: 3%;
    }
    #main-sidebar-two-content >div:nth-child(1){
        margin-left: 13%;
    }
    
    #sidebar{
        width: 100%;
        text-align: center;
    }
    #sidebar-section-one{
        font-size: 1.5rem;
    }
    #sidebar-section-one .row{
        flex-direction: row;
    }
    #first-heading{
        margin-left: 1%;
    }
    #second-heading{
        margin-bottom: 1%;
    }
    
    #fourth-heading .row> div input{
        width: 100%;
    }
    #main-sidebar-two-content{
        width: 126%;
    }
    #sidebar-box{
        width: 126%;
    }
    #sidebar-section-three .row{
        flex-direction: row;
    }
    #footer .row{
        flex-direction: column;
    }
    #main-sidebar-two-content >div:nth-child(1){
        margin-left: 13%;
    }
    .checkmark{
        border: 2px solid black;
        height: 56%;
    }
    #sidebar-box-one{
        font-size: 1rem;
    }
    #footer .row >div{
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 16%;
    }
    #footer .row >div:nth-child(1) img{
        margin-top: 1%;
        margin-left: 33%;
    }
    #footer .row .headings {
        border: none;
        font-size: 1rem;
    }
    #footer .row >div:nth-child(6) {
       border: none;
       margin-left: 30%;
    }
    #footer .row >div:nth-child(2){
        margin-left: -5%;
    }


    #footer .row >div:nth-child(3){
    margin-left: 65%;
    margin-top: -36%;
    }

    #footer .row >div:nth-child(4){
    margin-left: -6%;
    margin-top: 6%;
    }

    
    
    #sidebar-section-one .row >div:nth-child(2){
    margin-top: 8%;
    width: 50%;
    }

    #footer .row >div:nth-child(5){
    margin-left:65%;
    margin-top: -37%;

    }
    #footer .headings >div:nth-child(1){
    font-size: 1.5rem;
    }
    #sidebar-section-one >div:nth-child(1){
        font-size: 1.5rem;
    }
    #sidebar-section-one .row >div:nth-child(1){
       position: absolute;
       top: 90%;
       margin-left: 11%;
    }
    #sidebar-section-one .row >div:nth-child(2){
    margin-left: 23%;
    margin-top: 5%;
    }
    #navbar-menu{
        display: block;
    }

   /*#navbar-menu .row >div:nth-child(1) i{
    margin-left: 700%;
    }
    #navbar-menu .pictures .row >div:nth-child(2){
    margin-top: -7%;
    margin-left: 59%;
    }

    #navbar-menu .pictures{
    background-color: #95605e;
     }*/

    /*#footer{
    height: 95vh;
    }
    #sidebar-section-two >div:nth-child(1){
          font-size: 2rem;
    }
    #sidebar-section-two >div:nth-child(3){
    font-size: 2rem;
    }
    #sidebar-section-three >div:nth-child(1){
    font-size: 1.5rem;
    }
    #big-image{
    margin-top: 4%;
    }
    #main-sidebar-two-content{
    margin-left: 4%;
    }
    #sidebar-box-one{
    margin-left: 2%;
    margin-right: 2%;
    }
    #sidebar-box-one >div:nth-child(2){
    margin-top: 2%;
    }
    #sidebar-box-two {
    margin-left: 2%;
    margin-right: 2%;
    }
    #sidebar-box-two >div:nth-child(1){
    font-size: 1.5rem;
    }
    #footer .row >div:nth-child(1){
    margin-left: 22%;
    }
    #footer .row >div:nth-child(2){
    margin-left: 1%;
    }

    #footer .row >div:nth-child(4){
    margin-left: 1%;
    }
}

@media (max-width:375px){
    #navbar-menu .row >div:nth-child(1){
        margin-top: -4%;
    }
    #small-image >div:nth-child(1){
        font-size: 1.4rem;
    }
    #footer .row >div:nth-child(3){
        margin-top: -47%;
    }
    #footer .row >div:nth-child(5){
        margin-top:-46%;
    }
}

@media (max-width:320px){
    #navbar-menu .row >div:nth-child(1){
        margin-left: -13%;
        margin-top: 1%;
    }
    #navbar-menu .row >div:nth-child(2){
        margin-top: -5%;
    }
    #sidebar-section-one .row >div:nth-child(1) img{
        margin-top: 140%;
        width: 78%;
    }
    #sidebar-section-one .row >div:nth-child(2){
        margin-top: 8%;
        width: 60%;
    }
    #footer .row >div:nth-child(3){
        margin-top: -57%;
    }
    #footer .row >div:nth-child(4){
        margin-top: 17%;
    }
    #footer .row >div:nth-child(5){
        margin-top: -51%;
    }

    #footer .row >div:nth-child(6) >div:nth-child(1){
        margin-top: 35%;
    }
    #nav .container{
        height: 545vh;
    }
}

@media (max-width:1440px) and (min-width:768px){
    #navbar-menu{
        display: none;
    }
}*/

@media (max-width:426px){
    /*.pictures{
        text-align: center;
    }*/
    .pictures .row{
        flex-direction: column;
    }
    #third-heading .row{
        display: none;
    }
    #fourth-heading .row{
        flex-direction: row;
    }
    #fourth-heading >div:nth-child(1){
        margin-left: 0%;
    }
    #fourth-heading >div:nth-child(2){
        margin-left: -10%;
    }
    #fourth-heading >div:nth-child(3){
        margin-left: -13%;
    }
    #navbar{
        display: none;
    }
    #sidebar{
        width: 100%;
        text-align: center;
    }
    #sidebar-section-one{
        font-size: 1rem;
        height: 57vh;
    }
    #sidebar-section-one >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-section-one .row >div:nth-child(2){
        margin-top: 1%;
        margin-left: 12%;
    }
    #sidebar-section-one .row >div:nth-child(1) img {
        position: absolute;
        top: 83%;
        width: 11%;
        margin-left: -34%;
    }
    #sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3){
        font-size: 2rem;
    }
    #sidebar-section-three{
        font-size: 1rem;
    }
    #sidebar-section-three >div:nth-child(1){
        font-size: 2rem;
    }
    .checkmark{
        margin-left: 21%;
        height: 3vh;
        margin-top: 0%;
        width: 4%
    }
    #sidebar-section-three .row{
        flex-direction: row;
    }
    #big-image{
        margin-top: 2%;
        width: 127%;
    }
    #small-image{
        width: 43%;
        font-size: 0.8rem;
        margin-right: -25%;
    }
    #image-three{
        width: 25%;
    }
    #image-three .row{
        flex-direction: row;
    }
    #main-sidebar-two-content{
        width: 127%;
        margin-left: 2%;
    }
    #sidebar-box{
        width: 126%;
    }
    #sidebar-box-one{
        font-size: 1rem;
    }
    #sidebar-box-one >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-box-two >div:nth-child(1){
        font-size: 2rem;
    }
    #sidebar-box-two >div:nth-child(2){
        font-size: 1rem;
    }
    #sidebar-box-two >div:nth-child(3){
        font-size: 1rem;
    }
    #sidebar-box-two >div:nth-child(4){
        font-size: 1rem
    }
    #sidebar-box-two >div:nth-child(5){
        font-size: 1rem;
    }
    #footer .row{
        flex-direction: column;
    }
    #footer .row >div:nth-child(1){
        width: 79%;
        margin-top: -9%;
    }
    #footer .row >div:nth-child(2){
        margin-top: 9%;
    }
    #footer .row >div:nth-child(3){
        margin-top: -27%;
        margin-left: 68%;
    }
    #footer .row >div:nth-child(4){
        margin-top: 5%;
    }
    #footer .row >div:nth-child(5){
        margin-left: 70%;
        margin-top: -25%;
    }
    #footer .row >div:nth-child(6) {
        margin-top: 8%;
        margin-left: 28%;
    }
    #navbar-menu{
        display: block;
        background-color: #95605e;
    }
    #navbar-menu .row{
        flex-direction: row;
    }
    #navbar-menu .pictures{
        font-size: 1rem;
    }
    #navbar-menu .row >div:nth-child(1){
        margin-left: 80%;
    }
    #navbar-menu .row >div:nth-child(2){
        margin-right: 5%;
    }
    #footer .row >div:nth-child(2) >div:nth-child(1){
        font-size: 1rem;
    }
    #footer .row >div:nth-child(3) >div:nth-child(1){
        font-size: 1rem;
    }
    #footer .row >div:nth-child(4) >div:nth-child(1){
        font-size: 1rem;
    }
    #footer .row >div:nth-child(5) >div:nth-child(1){
        font-size: 1rem;
    }
    #footer .row >div:nth-child(5) >div:nth-child(2){
        margin-top: 21%;
    }
}

@media (max-width:376px){
    #footer .row >div:nth-child(3){
        margin-top: -29%;
    }
    #footer .row >div:nth-child(5){
        margin-top: -27%;
    }
    #navbar-menu .row >div:nth-child(1){
        margin-left: 77%;
    }
    #sidebar-section-one .row >div:nth-child(1) img{
        position: absolute;
        top: 81%;
        width: 14%;
        margin-left:-34% ;
    }
}

@media (max-width:361px){
    #sidebar-section-one .row >div:nth-child(1) img{
        position: absolute;
        top: 91%;
        width: 14%;
        margin-left: -34%;
    }
    #sidebar-section-two div:nth-child(1), #sidebar-section-two div:nth-child(3) {
        font-size: 1.8rem;
    }
    #small-image{
        font-size: 0.6rem;
    }
    #image-three{
        height: 3vh;
        width: 36%;
    }
    #footer .row >div:nth-child(3){
        margin-top: -33%;
    }
    #footer .row >div:nth-child(5){
        margin-top: -31%;
    }
    #footer .row >div:nth-child(6){
        font-size: 0.5rem;
    }
    #sidebar-box-two >div:nth-child(1){
        font-size: 1.8rem;
    }
    #main-sidebar-two-content{
        margin-left: 0%;
    }
    #navbar-menu .row >div:nth-child(1){
        margin-left: 74%;
    }

}
@media (max-width:321px){
    #sidebar-section-one .row >div:nth-child(1) img {
        position: absolute;
        top: 81%;
        width: 14%;
        margin-left: -35%;
    }
}






